body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.logo {
  float: left;
  padding: 3px 2px;
}

.logo img:hover {
  border: solid 2px white;
  margin: -2px;
}

.imageDiv {
  width: 400px;
  overflow: hidden; /* essential, hides the overflow from the image */
}

.imageDiv img {
  width: 100%;  /* makes image 100% width of the container */
  position: relative; /* allows movement inside the container */
      /* OPTIONAL: use this to adjust where the 'center' starts */
      /* only useful on images that will be clipped */
  top: -__px;  
}

.imagePhoto{
  width: 100px;
  overflow: hidden; /* essential, hides the overflow from the image */
}

.imagePhoto img{
  width: 100%;  /* makes image 100% width of the container */
  position: relative; /* allows movement inside the container */
      /* OPTIONAL: use this to adjust where the 'center' starts */
      /* only useful on images that will be clipped */
  top: -__px;  
}
.listings-title{
    color: black;
}
.listings-background{
    border-radius: 8px;
}
.last-listings {
    font-family: Open Sans;
    margin: 20px;
    border: 3px black;
    border-style: solid;
    color:black;
    height : 100px;
    width: 1100px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 45px;
    font-weight: bold;
}
.posts{
     border: solid thick black;
     border-radius: 1em;
     margin:40px;
     height: 300px;
}
.footers {
    background-color:white;
    border-radius: 4px;
    height: 35px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.comments-details{
    border-color: black;
}

.comment-box{
    border: 1px solid black;
}

.comment_col {
    text-align: center;
}